asttokens==3.0.0
decorator==5.2.1
dictdiffer==0.9.0
executing==2.2.0
greenlet==3.2.3
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
mypy==1.16.0
mypy_extensions==1.1.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
SQLAlchemy==2.0.41
stack-data==0.6.3
toml==0.10.2
traitlets==5.14.3
types-toml==0.10.8.20240310
typing_extensions==4.14.0
wcwidth==0.2.13
